{% block head %}

<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
<link rel="stylesheet" href="static/style1.css" type="text/css">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>

 <script>

  $(document).ready(function() {

        $("#from_date1").datepicker({ dateFormat: 'dd/mm/yy' }).val();
      
        $("#to_date1").datepicker({ dateFormat: 'dd/mm/yy' }).val();
  });

  </script>


   <script type="text/javascript"> 

        function displayForm(c){ 

            if(c.value == "1"){ 
                        document.getElementById("date").style.visibility='visible'; 
        }
            else if(c.value =="2"){ 
                        document.getElementById("date").style.visibility='visible';
        } 

                        else if(c.value =="3"){ 

                                document.getElementById("date").style.visibility='visible';
            }

                else if(c.value =="4"){ 
                        document.getElementById("date").style.visibility='visible';
        } 

                        else if(c.value =="5"){ 

                                document.getElementById("date").style.visibility='visible';
            }

            else{

            } 

 }

 </script>

{% endblock %}

{% block body %}

<div class="login-screen">

{% if error %}
      <p class="error"><center><strong>Error:</strong>{{ error }}</center></p>
{% endif %}

 <center> <h1> Transaction Details </h1> </center>
<br/></br>

<form action = "/login1" method = "POST">

<div class="form-wrapper" id="wrapper">
<div class="radio_btns" id="first">

   <input value="1" type="radio" name="formselector" onclick="displayForm(this)">RO-Transaction Report &nbsp;</label><br /><br />

   <input value="2" type="radio" name="formselector" onclick="displayForm(this)">Sales Summary &nbsp;</label></br /><br />

   <input value="3" type="radio" name="formselector" onclick="displayForm(this)">Reconcillation Summary &nbsp;</label><br /><br />

   <input value="4" type="radio" name="formselector" onclick="displayForm(this)">Transaction-4 &nbsp;</label><br /><br />

   <input value="5" type="radio" name="formselector" onclick="displayForm(this)">Transaction-5 &nbsp;</label><br /><br />
</div>
      <div class="date" id="date" style="visibility:hidden">

    <h4> Select Start_Date: <input type = "text" id='from_date1' name = "start_date" placeholder = "dd/mm/yyyy"> </h2>
    <h4> Select End_Date: <input type = "text" id='to_date1' name = "end_date" placeholder = "dd/mm/yyyy"> </h2></div>

     <div><input type = "submit" value = "submit" name = "submit" class="sbtn btn-primary btn-large btn-block"></div>

</div>
</form>
</div>

{% endblock %}

