
<link rel="stylesheet" href="static/style_ox.css" type="text/css">

{% block body %}
<div>
 <img src="static/images/oxigen-wallet1.png" alt="logo" style="width:250px;height:50px;float:right;"/><br><br><br>
 </div>


	
	<div class="login">
		<div class="login-screen" style="position: absolute;width: 90%;left: 0;margin: 20px;">
			
 			<p>Data copied to XLSX file <a href = "/downloadCSV"> Click here to download. </a> <a style="float:right;" href="/logout"><b>Logout</b></a></p>
			
		
	</div>
	</div>

 
{% endblock %}

