{% block head %}

<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
<link rel="stylesheet" href="static/style1.css" type="text/css">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>

   <script type="text/javascript"> 

        function displayForm(c){ 

            if(c.value == "1"){ 
                        document.getElementById("date1").style.display='block'; 
			document.getElementById("o_submit").style.display='none';
        }
	else if(c.value == "2"){
			document.getElementById("date1").style.display='none'; 
			document.getElementById("o_submit").style.display='block';
        }		

 else{

            } 
 
 }

function validateForm(){

  var z = document.forms["myForm"]["wallet_id"].value;

  if(!/^[0-9]+$/.test(z)){
    alert("Please only enter numeric characters only for wallet id! (Allowed input:0-9)")
  }

}

</script>

{% endblock %}

{% block body %}

<div class="login-screen">

<div class="radio_btns" id="first">
<label>Any other info????</label>
<input value="1" type="radio" name="formselector" onclick="displayForm(this)"><label>Yes</label>
<input value="2" type="radio" name="formselector" onclick="displayForm(this)"><label>No</label><br/>
</div>

	<form id = "form1" action = "/parameter" method = "POST">

	<div class="form-wrapper" id="wrapper">
      		<div class="date1" id="date1" style="display:none">

    			<div class="wallet_ip">

    			{% if date %}		
        		<input type="hidden" name="date" form = "form1" class="date" value="{{date}}"/><br/>
    			{% endif %}
    			{% if date1 %}
        		<input type="hidden" name="date1" class="date1" form = "form1" value="{{date1}}"/><br/>
    			{% endif %}   			
			<input type="checkbox" name="wallet_op" value="wallet_id" form = "form1"><label>wallet_id &emsp;&emsp;&emsp;</label> 
			<input name="wallet_id" type="text" id="wallet_id1" size="1" form = "form1"><br/><br/>	
			<input type="checkbox" name="product_op" value="product" form = "form1"> <label>product &emsp;&emsp;&emsp;</label>
			<input name="product" type="text" id="product" size="1" form = "form1"><br/><br/>
		       <input type="submit" value="submit" onclick="return validateForm()" class="wallet-btn btn-primary btn-large btn-block" form = "form1">

	</form>
	</div>
	</div>
	<div id="o_submit" style="display:none">
		<form id = "form3" action = "/date" method = "POST">

                {% if date %}
                <input type="hidden" name="date" form = "form3" class="date" value="{{date}}"/><br/>
                {% endif %}</br>
                {% if date1 %}
                <input type="hidden" name="date1" class="date1" form = "form3" value="{{date1}}"/><br/>
                {% endif %}</br>                
                <input type="submit" value="submit" name = "submit"  class="wallet-btn btn-primary btn-large btn-block" form = "form3">
		<br/><br/></form>
	</div>
</div>
</div>


{% endblock %}

